
#///////////////////////////
# Cocos Creator 3D Project
#///////////////////////////
library/
temp/
library.bak/
temp.bak/
local/
build/
profiles/
native
.tmp/

# Local tool credentials
tools/ossutilconfig.local
../.tools/ossutil/*config*
../.tools/ossutil/**/*config*
#//////////////////////////
# NPM
#//////////////////////////
node_modules/

#//////////////////////////
# VSCode
#//////////////////////////
.vscode/

#//////////////////////////
# WebStorm
#//////////////////////////
.idea/
