<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pet_idle_show_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{3316,1826},{364,303}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,13},{364,303}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pet_idle_show_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,1824},{364,303}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,13},{364,303}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pet_idle_show_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{3658,608},{366,301}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,15},{366,301}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pet_idle_show_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{366,299}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{366,299}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pet_idle_show_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,2},{368,299}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,17},{368,299}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pet_idle_show_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{368,299}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,17},{368,299}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pet_idle_show_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2928,608},{366,301}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,15},{366,301}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pet_idle_show_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,608},{362,301}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,15},{362,301}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pet_idle_show_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{3296,608},{360,301}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,15},{360,301}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pet_idle_show_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,606},{358,301}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,15},{358,301}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pet_idle_show_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,1822},{360,303}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,13},{360,303}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pet_idle_show_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2564,1521},{362,303}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,13},{362,303}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pet_idle_show_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2948,1826},{366,303}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,13},{366,303}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pet_idle_show_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1492,1216},{368,303}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,13},{368,303}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pet_idle_show_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2576,1826},{370,303}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,13},{370,303}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pet_idle_show_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2202,1826},{372,303}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{372,303}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pet_idle_show_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,1212},{368,303}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,13},{368,303}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pet_idle_show_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2568,305},{366,301}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,14},{366,301}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pet_idle_show_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,606},{360,301}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,14},{360,301}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pet_idle_show_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,303},{358,301}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,14},{358,301}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pet_idle_show_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,303},{358,301}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,15},{358,301}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pet_idle_show_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{3662,2},{358,301}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,15},{358,301}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pet_idle_show_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,303},{362,301}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,15},{362,301}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pet_idle_show_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1450,608},{364,301}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,15},{364,301}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pet_idle_show_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2558,608},{368,301}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{368,301}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pet_idle_show_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,909},{370,301}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,15},{370,301}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pet_idle_show_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,911},{372,301}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,15},{372,301}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pet_idle_show_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{1828,1826},{372,303}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{372,303}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pet_idle_show_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{1456,1826},{370,303}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,13},{370,303}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pet_idle_show_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{2946,911},{368,303}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,13},{368,303}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pet_idle_show_0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{1862,1216},{364,303}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,12},{364,303}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pet_idle_show_0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,1521},{360,303}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,12},{360,303}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pet_idle_show_0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{2950,1216},{358,303}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,13},{358,303}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pet_idle_show_0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{2590,1216},{358,303}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,13},{358,303}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pet_idle_show_0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{3310,1216},{360,303}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,13},{360,303}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pet_idle_show_0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{1460,1521},{362,303}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,13},{362,303}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pet_idle_show_0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,1826},{366,303}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,13},{366,303}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pet_idle_show_0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{2932,2},{366,301}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,15},{366,301}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pet_idle_show_0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{1816,608},{368,301}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,15},{368,301}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pet_idle_show_0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{3306,305},{368,301}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,15},{368,301}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pet_idle_show_0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{3676,305},{364,301}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,15},{364,301}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pet_idle_show_0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,1519},{362,303}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,13},{362,303}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pet_idle_show_0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,606},{360,301}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,15},{360,301}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pet_idle_show_0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{3300,2},{360,301}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,15},{360,301}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pet_idle_show_0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{1846,2},{362,301}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,15},{362,301}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pet_idle_show_0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,305},{364,301}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,15},{364,301}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pet_idle_show_0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{2936,305},{368,301}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,15},{368,301}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pet_idle_show_0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,909},{370,301}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{370,301}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pet_idle_show_0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{1452,305},{368,301}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{368,301}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pet_idle_show_0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{1478,2},{366,301}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{366,301}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pet_idle_show_0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,1517},{362,303}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,13},{362,303}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pet_idle_show_0052.png</key>
            <dict>
                <key>frame</key>
                <string>{{2210,2},{360,301}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,15},{360,301}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pet_idle_show_0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{2572,2},{358,301}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,15},{358,301}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pet_idle_show_0054.png</key>
            <dict>
                <key>frame</key>
                <string>{{2228,1216},{360,303}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,13},{360,303}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pet_idle_show_0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{3672,1216},{362,303}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,13},{362,303}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pet_idle_show_0056.png</key>
            <dict>
                <key>frame</key>
                <string>{{1110,2},{366,301}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,15},{366,301}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pet_idle_show_0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{2186,608},{370,301}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{370,301}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pet_idle_show_0058.png</key>
            <dict>
                <key>frame</key>
                <string>{{1822,305},{370,301}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{370,301}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pet_idle_show_0059.png</key>
            <dict>
                <key>frame</key>
                <string>{{2194,305},{372,301}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,15},{372,301}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pet_idle_show_0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{1824,1521},{370,303}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,13},{370,303}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pet_idle_show_0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{2196,1521},{366,303}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,13},{366,303}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pet_idle_show_0062.png</key>
            <dict>
                <key>frame</key>
                <string>{{2214,911},{362,303}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,13},{362,303}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pet_idle_show_0063.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1822},{356,303}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,13},{356,303}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pet_idle_show_0064.png</key>
            <dict>
                <key>frame</key>
                <string>{{3286,1521},{352,303}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,12},{352,303}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pet_idle_show_0065.png</key>
            <dict>
                <key>frame</key>
                <string>{{3688,911},{352,303}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,13},{352,303}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pet_idle_show_0066.png</key>
            <dict>
                <key>frame</key>
                <string>{{3640,1521},{354,303}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,13},{354,303}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pet_idle_show_0067.png</key>
            <dict>
                <key>frame</key>
                <string>{{2928,1521},{356,303}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,13},{356,303}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pet_idle_show_0068.png</key>
            <dict>
                <key>frame</key>
                <string>{{1852,911},{360,303}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,13},{360,303}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pet_idle_show_0069.png</key>
            <dict>
                <key>frame</key>
                <string>{{1486,911},{364,303}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,13},{364,303}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pet_idle_show_0070.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1517},{366,303}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,13},{366,303}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pet_idle_show_0071.png</key>
            <dict>
                <key>frame</key>
                <string>{{1120,1216},{370,303}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,13},{370,303}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pet_idle_show_0072.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,1214},{372,303}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{372,303}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pet_idle_show_0073.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1212},{372,303}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{372,303}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pet_idle_show_0074.png</key>
            <dict>
                <key>frame</key>
                <string>{{3316,911},{370,303}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,13},{370,303}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pet_idle_show_0075.png</key>
            <dict>
                <key>frame</key>
                <string>{{2578,911},{366,303}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,13},{366,303}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pet_idle_show_0076.png</key>
            <dict>
                <key>frame</key>
                <string>{{1120,911},{364,303}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,13},{364,303}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pet_idle_show.png</string>
            <key>size</key>
            <string>{4042,2131}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5992d1c48100b94b8d29275e02c6a6da$</string>
            <key>textureFileName</key>
            <string>pet_idle_show.png</string>
        </dict>
    </dict>
</plist>
